@charset "utf-8";
/* Styles for mobile devices narrower than iPad portrait (768px) */
/*
TO DO
display the following on mobile devices, including tablets.
Header bar - MyEconLab
Footer bar - Pearson 

*/

header {
	display:none;
}

#tabs {
	background-color:#658EC2;
	
}

#tabs li {
	display: block;
	float: left;
	border:none;
	border-right:1px solid #4E7DB8;
	border-left:1px solid #7097C7;
	border-radius:0;
	max-width:none;
	width:33.3%;
	padding:1.3em 0;

}
#slider {
	clear: both;
}
.rssItem {
	width:98% !important;
	-webkit-transition: all 2s;
	transition: all 2s;
}
/* Hide controls, as there is only 1 view */
.buttonGroup {
	display:none !important; /* Important otherwise jquery effect will override */
}
.tinynav {
	display: block;
	width: 90%;
	padding: 1em;
	margin: 1em;
}


.button, .buttonGroup li {
	min-height:44px; /* min size for touch targets */
	min-width:44px; /* min size for touch targets */
}

.disclaimer {
	width: 90%;
}
