@charset "UTF-8";
/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-family: Tahoma, Genevam, sans-serif;
	font-size: 12px; /* Base font size */
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
* UI Styles
*/
/* Make it look like the XL lab*/

#container {
	background-color:#CFDEF3; /* Original light blue */
	background-color:#ECECF6; /* Mauve to match MyEconLab left nav */
	/*width:92%;*/
	max-width:960px;
	margin: 0 auto;
}
#slider {
	margin:0 auto;
}
.feedContainer {
	width:98%;
	text-align:center;
}
h1 {
	font-size:1.5em;
	font-weight:bold;
	margin-bottom:20px;
	color:#205F9F;
	border-bottom:1px solid #205F9F;
}
h2 {
	font-size:1.5em;
	font-weight:bold;
	text-align:center;
}
#tabs {
	background-color:#FFF;
	margin:0 auto;
}
#tabs li {
	display:inline-block;
	background-color:#658EC2;
	text-decoration:none;
	padding:10px 20px;
	border-top-right-radius:7px;
	border-top-left-radius:7px;
	font-weight:bold;
	color:#FFF;
	width:32%;
	max-width:140px;
	box-sizing:border-box;
	text-align:center;
	border: 1px solid #CCC;
	border-bottom: none;
	position: relative;
	top: 1px;
	z-index: 2;	
	-webkit-transition: background-color 0.2s ;	
}
#tabs li:hover {
	background-color:#ECECF6;
	color: #205F9F;
	cursor:pointer;
	-webkit-transition: none;
}
#tabs li.selected {
	background-color:#ECECF6;
	color: #205F9F;
}
#viewControls {
	float: right;
}
/* A group of radio buttons */
.filterButtonGroup {
	/*background-color:#658EC2;*/
	margin:10px;
	padding: 5px;
	border-radius: 10px;
	overflow:hidden;
	text-align:center;
}
/* Individual button styles */
.buttonGroup li {
	display: block;
	float:left;
	color: #264767;
	background-color: #EEE; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 1%, #dfdeeb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #ffffff), color-stop(100%, #dfdeeb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 1%, #dfdeeb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 1%, #dfdeeb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 1%, #dfdeeb 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 1%, #dfdeeb 100%); /* W3C */
	padding:0.5em 1em;
	/*border-left:  1px solid hsla( 0, 0%, 100%, 0.3 );*/
	border-right: 1px solid #8D8D8D;
	border-top: 1px solid #8D8D8D;
	border-bottom: 1px solid #AAA;
}
.buttonGroup li:hover, .buttonGroup li.selected {
	background-color:#EBD4B2;
	background: #ffffff; /* Old browsers */
	cursor:pointer;
	background: -moz-linear-gradient(top, #ffffff 1%, #ead4b0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #ffffff), color-stop(100%, #ead4b0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 1%, #ead4b0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 1%, #ead4b0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 1%, #ead4b0 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 1%, #ead4b0 100%); /* W3C */
}
/* First button in buttonGroup */
.buttonGroup li:first-child {
	border-radius: 5px 0 0 5px;
	/*border-left: none;*/
	border-left: 1px solid #8D8D8D;
}
/* Last button in buttonGroup*/
.buttonGroup li:last-child {
	border-radius: 0 5px 5px 0;
}
.separator {
	/*border-top: 1px solid rgba(0, 0, 0, 0.2);*/
	border-top: 1px solid #CECEE8;
	border-bottom: 1px solid rgba(255, 255, 255, 0.6);
	margin: 0em 2em 0.4em 2em;
}
/* CSS SPRITES */
.icon {
	background-image:url('icons.png');
	background-repeat:no-repeat;
	display:block;/*font-size:0;*/
}
.icon-tile {
	width:25px;
	height:21px;
	background-position:0 0
}
.icon-grid {
	width:21px;
	height:21px;
	background-position:0 -21px
}
.icon-list {
	width:21px;
	height:20px;
	background-position:0 -42px
}

/*
* RSS Feed Styles
*/
.rssFeed {
	margin-bottom: 2em;
}
.rssFeed a:hover {
	color: #000;
	text-decoration: underline;
}
.rssHeader {
	padding: 0.2em 0;
}
.rssBody {
}
.rssBody ul {
	list-style:none;
	margin:0;
	padding:0;
}
.rssItem {
	width:290px;
	/*width: 32%; */ /* Fluid (percentage) item width is nice, but slows performance on page slide. Movement is not smooth */
	/*display:inline-table;*/
	border:1px solid #C6C6C6;
	margin:5px;
	overflow:hidden;
	background-color: #FFF;
	position:relative; /* So that we can position elements within it, such as pubdate */
	text-align:left;
	border-radius: 3px;
	padding-bottom:2em;  /* Without padding, some feeds are not in paragraph, so there is overlap of the pubdate */
}
.rssItem h4 {
	background-color:#4977B3;
	/*padding:1em 5em 1em 1em;*/
	padding:1em;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
.rssItem h4:hover  {
	background-color:#436BA3;
}
.rssItem a h4 {
	color:#FFF;
}
.rssItem a:hover {
	text-decoration:none;
}
.rssItem a {
	color: #444;
	text-decoration: none;
}
.rssItem p {
	padding:0.5em;
}
.rssItem .pubDate {
	font-size:0.8em;
	color:#666;
	position: absolute;
	bottom: 5px;
	right: 15px;
}
.rssItem .feedTitle {
	font-size:0.8em;
	color:#666;
	position: absolute;
	bottom: 5px;
	left: 10px;
}
.rssItem img {
	max-width: 94%;
	height: auto;
}
/*
li.rssItem img:after {
	content: ".";
	visibility: hidden;
	height: 0;
	clear:both;
}
*/

/**** Isotope Filtering ****/

.isotope-item {
	z-index: 2;
}
.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}
/* Toggle views */
.tileview .rssItem {
	transition: all 2s;
	/*width:	300px;*/
	width: 32%;
}
.gridview .rssItem {
	height: 200px;
	/*width:	200px;*/
	width: 32%;
	transition: all 2s;
}
.listview .rssItem {
	width:98%;
	-webkit-transition: all 2s;
	transition: all 2s;
	padding-bottom: 10px;
}
.imageView .rssItem {
	/*visibility:hidden;*/
	color:#fff;	
}
.imageView .rssItem img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 40px;	
}


/**** Isotope CSS3 transitions ****/
.isotope, .isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
	-webkit-transition-property: all;
}
.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property:    -moz-transform, opacity;
	-ms-transition-property:     -ms-transform, opacity;
	-o-transition-property:      -o-transform, opacity;
	transition-property:         transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
}
/* SWIPEJS */
.swipe {
	padding-bottom:20px;
	position:relative;
	z-index:1;
	min-height:400px;
	border: 1px solid #CCC;
}
/* Swipe panel*/
.swipe .tabPanel {
	border-right: 1px solid #CECEE8;
	border-left: 1px solid rgba(255, 255, 255, 0.6);
}
/* SPECIFIC FEED SETTINGS */

/* Hack to hide all gif images used for ads and social media*/
.rssItem img[src$=".gif"] {
	display:none;
}
.smh-com-au a img, .news-com-au a img, .reuters-com a img {
	display:none;
}



   /* styles for desktop */
    .tinynav { display: none }
    #nav .selected a { color: red }
    /* styles for mobile */
 
